<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Hubsworth - App</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink" id="profileButton"><a href="/profile">Profile</a></div>
  </nav>

  <div id="logo">
    <img id="hubText" src="/assets/img/hubsworthText.png" alt="logoText">
  </div>

  <div id="instructions">
    <h3>Welcome to Hubsworth, your one stop shop for social media gatherings.</h3>
    <p>Start by selecting a channel to send a message to, and anyone viewing the channel will see what you posted.</p>
  </div>

  <div id="loginMessage" class="hidden">
    <h3><span id="errorMessage"></span></h3>
  </div>

  <form id="editForm">
    <input id="editBox" type="text" />
    <select id="channelSelect">
      <option value="general">General</option>
      <option value="memes">Memes</option>
      <option value="songs">Songs</option>
    </select>
    <input type="submit" />
  </form>

  <div id="bigDiv">
    <div id="adSpot">
    
    </div>

    <div id="messages">
      <div id="oldMessages">

      </div>
      <div id="newMessages">
      
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
